{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to PAS Intervention</h1>
    </header>
    
    <main>
        <section id="login">
            <h2>Login to Your Account</h2>
            <form method="POST">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>
             
                <button type="submit">Login</button>

                <p>Don't have an account?
                    <a href="{% url 'create_account' %}" class="btn btn-outline-primary" style="margin-left: 10px;">Create Account</a>
                    <!-- <a href="{% url 'create_account' %}" class="btn btn-secondary">Create Account</a> -->
                </p>
                <p>Forgot your password?
                    <a href="{% url 'password_reset' %}" class="btn btn-outline-secondary" style="margin-left: 10px;">Reset Password</a>
                </p>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; Physical Activity Self-efficacy (PAS) Intervention 2.0. All rights reserved.</p>
    </footer>
</body>
</html>